<div class="container">
	<div class="row">
		<div class="col-md-4">
<h1>Editar Pin</h1>


<%= render 'form', pin: @pin %>

<%= link_to 'Show', @pin %> |
<%= link_to 'Back', pins_path %>
</div>
</div>
</div>
